body, html {
    height: 100%;
    margin: 0;
  }
  
.bg {
    background-image: url("../images/leaves.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgroles {
    /* background-image: url("../images/port.jpg"); */
    height: 100%; 
    padding: 20px;
    padding-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgrolesadd {
    /* background-image: url("../images/factory.jpg"); */
    height: 100%; 
    padding: 20px;
    padding-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.options{
    color: white;
}

.options:hover{
    color:#FECB2E;
}

.searchBox{
    width: 30%;
    border: 0px;
    height: 45px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    font-family: Helvetica, sans-serif;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchBtn{
    width: 5%;
    border: 0px;
    height: 46px;
    border-radius: 0px 10px 10px 0px;
    background-color: #147EFB;
    margin-left: -2px;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.searchBox:hover{
    background-color: #f7f7f7;
    transition: background-color 0.5s ease;
}

.searchBtn:hover{
    background-color: #1377ed;
    transition: background-color 0.5s ease;
}

.searchBox:focus{
    background-color: #f7f7f7;
}


.instructionText{
    color: white;
    font-family: Helvetica;
    margin-bottom: 30px;
    font-size: 30px;
}

.cardstyle{
    margin-top: 20px;
    width: 40%;
    background-color: white;
    padding: 20px;
    min-height: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.20), 0 3px 6px rgba(0,0,0,0.23);
    display: none;
}

.fixedcardstyle{
    width: 40%;
    background-color: white;
    padding: 10px;
    min-height: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.20), 0 3px 6px rgba(0,0,0,0.23);
}

.mycardstyle{
    margin-top: 100px;
    width: 40%;
    background-color: white;
    padding-left: 10px; padding-left: 10px;
    padding-top: 25px; padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.5s ease;
    z-index: 11;
}
.mycardstyle:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.5s ease;
}

.greyarea{
    width: 90%;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    background-color:#F0F0F0;
}

.rolebtn{
    background-color: #147EFB;
    padding: 10px;
    border: 0px;
    height: 46px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.rolebtn:hover{
    background-color: #1279e0;
    transition: background-color 0.5s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.30);
}
.formbtn{
    background-color: #147EFB;
    padding: 5px;
    border: 0px;
    height: 35px;
    color: white;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 80%;
    border-radius: 5px 5px 5px 5px;
    margin-top: 25px;
}
.formbtn:hover{
    background-color: #1279e0;
    transition: background-color 0.5s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.30);
}

.forminput{
    width: 80%;
    border: 1px solid;
    border-color: #EAEAEA;
    height: 30px;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    font-family: Helvetica, sans-serif;
}
.forminput:hover{
    background-color: #FCFCFC;
    border-color:#5FC9F8;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.forminput:focus{
    background-color: #FCFCFC;
    border-color:#147EFB;
    transition: background-color 0.5s ease;
}


.formselect{
    width: 80%;
    border: 1px solid;
    border-color: #EAEAEA;
    height: 35px;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    font-family: Helvetica, sans-serif;
}
.formselect:hover{
    background-color: #FCFCFC;
    border-color:#5FC9F8;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}
.formselect:focus{
    background-color: #FCFCFC;
    border-color:#147EFB;
    transition: background-color 0.5s ease;
}

.formlabel{
    width: 80%;
    font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    .searchBox{
        width: 80%;
    }
    .searchBtn{
        width: 10%;
    }
    .cardstyle{
        width: 90%;
    }
    .fixedcardstyle{
        width: 90%;
    }
    .mycardstyle{
        width: 90%;
    }
    .alertcontent {
        width: 90%;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 7px 7px 7px 7px;
    }
}

.nav-link{
    font-family: Helvetica;
    color: #4287f5 !important;
    margin-right: 5px; margin-left: 5px;
}

.nav-link:hover{
    color: white !important;
    border-radius: 10px !important;
    background-color: #4287f5;
}

.cardbtnarea{
    padding: 20px; 
}
.formitem{
    padding-top: 20px;
    padding-bottom: 5px;
}

.customalert{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.alertcontent {
  width: 60%;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 7px 7px 7px 7px;
}

main {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
}

main section {
    min-width: 250px;
    max-width: 50%;
    height: 100%;
    text-align: center;
}

main img {
    box-shadow: 0 0 10px 5px #666;
}

main form {
    padding: 25px 0 50px 0;
    text-align: left;
}

main form label {
    display: block;
    margin-top: 10px;
    color: #444;
    font-weight: bold;
}

main form input,
main form select {
    width: 100%;
}

main form input:invalid {
    outline: 2px solid #f00;
    color: #f00;
}

.qrbutton{
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0px;
    font-size: 20px;
    margin: 15px;
    margin-bottom: 30px;
}

.qrbutton:hover{
    color: #5FC9F8;
    transition: color 0.5s ease;
}

.qrbutton2{
    color: black;
    background-color: rgba(0,0,0,0);
    border: 0px;
    font-size: 13px;
    margin: 15px;
    margin-bottom: 30px;
}

.qrbutton2:hover{
    color: #5FC9F8;
    transition: color 0.5s ease;
}

.navigationlink{
    padding-top: 5px; padding-bottom: 5px;
    padding-left: 15px; padding-right: 25px;
    font-size: 20px; font-family:Helvetica;
    color: white;
}
.navigationlink:hover{
    color: #FECB2E;
}


.navigator{
    text-align: right;
    padding: 5px;
}

.violetgradient{
    margin:0px;
  background: linear-gradient(-45deg,#752bad,#5e41e0, #418be0, #41a6e0 );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
          animation: gradientBG 10s ease infinite;
  }
  @-webkit-keyframes gradientBG {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @keyframes gradientBG {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.loginformcard{
    background-color: white; 
    margin: 20px; padding: 20px;
    border-radius: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 60%;
}
@media only screen and (max-width: 600px) {
    .loginformcard{
        width: 85%;
    }
}

#maincard2, #maincard3{
    display: none;
}

.greybackground{
    background-color: #e8e8e8;
}


/*waves****************************/


.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
    left: 0;
    z-index: -1;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
